#move {
  background-color: #6eb19d;
  position: fixed;
  width: 100vw;
  height: 350px;
  top: 610px;
  transform: skew(0deg, -4deg);
}

div:hover {
  animation-name: x;
  animation-duration: 4s;
  animation-iteration-count: ifinite;
}
