#move {
  background-color: #6eb19d;
  position: fixed;
  width: 100vw;
  height: 350px;
  top: 590px;
  transform: skew(0deg, -5deg);
}

div:hover {
  animation-name: x;
  animation-duration: 4s;
  animation-iteration-count: ifinite;
}

/* @keyframes x {
  0% {
    transform: skew(0deg, -65deg);
  }
  50% {
    transform: skew(0deg, -78deg);
  }
  1000% {
    transform: skew(0deg, 1s0deg);
  }
} */
