* {
  /* font-family: "Caveat", cursive; */
  /* font-family: "Nanum Myeongjo", serif; */
  font-family: "Open Sans ", sans-serif;
  /* font-family: "Caveat", cursive; */
  overflow: hidden;
}

.btn {
  border: 3px solid red;
}
